.Footer {
  align-content: center;
}

.Footer-line {
  text-align: center;
  padding-top: 10px;
  font-size: 70%;
  background-color: rgba(230, 230, 230, 1);
  color: rgba(150, 150, 150, 1);
  padding-bottom: 10px;
}
