.Nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav-list-item {
  float: left;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .Search-field {
    display: none;
  }
}

.Nav-link {
  display: block;
  padding: 8px;
  color: rgba(0, 190, 163, 1);
  text-decoration: none;
  padding-right: 30px;
}

@media screen and (max-width: 930px) {
  .Nav-link {
    font-size: 12px;
    padding-right: 8px;
  }
}

/* .Nav-bar {
  padding-left: 1.5%;
  padding-right: 1.5%;
  FOR USE WITH Navbar
} */

.Nav-bar {
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.Search-field {
  border-radius: 100px;
  height: 30px;
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  border: none;
  margin-top: 5px;
}

.Title-bar {
  font-size: 120%;
  font-weight: bold;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgba(0, 190, 163, 1),
    rgba(82, 58, 144, 1)
  );
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1.5%;
  color: white;
  z-index: -1;
}

.User-image {
  width: 35px;
  margin-top: 3px;
  margin-left: 15px;
}

.Dropdown {
  display: inline-block;
  position: relative;
}

.Dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(150, 150, 150, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  right: 0;
  min-width: 180px;
  line-height: 200%;
  float: left;
}

.Dropdown:hover .Dropdown-content {
  display: block;
}

.Dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.Dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition-duration: 0.3s;
}
