.App-assessments {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-header-assessments {
  color: black;
  background-color: white;
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Tab-container {
  width: 80%;
  min-height: 350px;
}

.Tab-head {
  font-size: 15px;
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: rgba(0, 190, 163, 1);
  color: white;
}

.user-table3 {
  margin-top: 3vh;
  font-size: 15px;
  width: 100%;
}

.Button-add2 {
  background-color: rgba(230, 230, 230, 1);
  border: none;
  border-radius: 100px;
  padding: 0 12px;
  padding-bottom: 4px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 24px;
  color: grey;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}

.Button-add2:hover {
  background-color: rgba(180, 180, 180, 1);
}

.Input-field4 {
  border-radius: 100px;
  height: 30px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
  text-align: center;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  font-size: 15px;
}
