.App-assessmentsmenu {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-header-assessmentsmenu {
  color: black;
  background-color: white;
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.nav-pills .nav-link.active {
  background-color: rgba(0, 190, 163, 1);
  margin-right: 20px;
  width: 150px;
}

.head {
  font-size: 15px;
  border: none;
}

.h11 {
  text-align: left;
  color: rgb(85, 191, 164);
  font-size: 20px;
  font-weight: bold;
  margin-left: 7vw;
  padding-bottom: 25px;
}

.content {
  margin-left: 7vw;
}

.usertable {
  margin-top: 3vh;
  font-size: 15px;
  width: 100%;
}

.h22 {
  padding-top: 10px;
  font-size: x-large;
  color: rgb(87, 67, 150);
  text-align: center;
  font-weight: bold;
}
.h33 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: medium;
  text-align: center;
  color: rgb(81, 133, 189);
}
.pp {
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: justify;
  font-size: medium;
}
.h44 {
  padding-top: 30px;
  text-align: left;
  padding-left: 80px;
}
