.App {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-home {
  background-color: white;
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: black;
  border: white;
}

.Input-field {
  border-radius: 100px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
}

.Submit-button {
  margin-top: 20px;
  background-color: rgba(0, 190, 163, 1);
  color: white;
  border: none;
  padding: 7px 32px;
  border-radius: 100px;
  font-weight: bold;
}

.Submit-button:hover {
  background-color: rgb(0, 150, 127);
  color: white;
}

.grid-container2 {
  display: grid;
  margin: auto;
  min-height: 80vh;
  width: 97%;
  border-radius: 100px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: left;
}

.grid2-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  padding-top: 13px;
}

.grid2-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  padding-top: 13px;
}

.grid2-item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  padding-top: 13px;
}

.section-title {
  font-size: 20px;
  color: rgba(0, 190, 163, 1);
}
