.Login-app {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 190, 163, 1),
    rgba(82, 58, 144, 1)
  );
  min-height: 90vh;
  padding-top: 1.5%;
}

.Login-app-header {
  color: black;
  background-color: white;
  min-height: 350px;
  width: 500px;
  margin: auto;
  margin-top: 6%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Eight-logo {
  height: 170px;
  margin-top: 10px;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 80px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.sign-in {
  font-weight: bold;
  margin-bottom: 0;
}

.Input-field-login {
  border-radius: 100px;
  height: 30px;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  margin-top: 13px;
  font-size: 15px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
}

.Login-button {
  font-size: 15px;
  margin-top: 25px;
  width: 100%;
  background-color: rgba(0, 190, 163, 1);
  color: white;
  border: none;
  padding: 5px 0;
  border-radius: 100px;
  font-weight: bold;
  transition-duration: 0.3s;
}

.Login-button:hover {
  background-color: rgba(0, 150, 130, 1);
}
