.App-people {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-header-people {
  color: black;
  background-color: white;
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Button-add {
  background-color: rgba(230, 230, 230, 1);
  border: none;
  border-radius: 100px;
  padding: 0 12px;
  padding-bottom: 4px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 24px;
  color: grey;
  float: right;
  margin-left: 15px;
  transition-duration: 0.3s;
}

.Button-add:hover {
  background-color: rgba(180, 180, 180, 1);
}

.Input-field5 {
  border-radius: 100px;
  height: 30px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
  text-align: center;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  font-size: 15px;
}

.user-table5 {
  margin-top: 9vh;
  font-size: 15px;
  width: 85vw;
}

.table td,
.table th {
  padding: 0.4rem;
  border-top: none;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 190, 163, 0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table th {
  background-color: rgba(0, 190, 163, 0.1);
}
