.App-supportrequest {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-header-supportrequest {
  color: black;
  background-color: white;
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
