.App {
  text-align: center;
  background-color: rgba(230, 230, 230, 1);
  min-height: 100%;
  padding-top: 1.5%;
}

.App-header {
  color: black;
  background-color: rgb(255, 255, 255);
  min-height: 80vh;
  width: 97%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  font-size: 15px;
  padding-left: 40vh;
  padding-right: 40vh;
  padding-top: 10vh;
}

.tab-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-pills .nav-link.active {
  background-color: rgba(0, 190, 163, 1);
}

.nav-pills .nav-link {
  border-radius: 100px;
}

a {
  color: rgba(0, 190, 163, 1);
  text-align: left;
}

.details {
  display: flex;
  flex-direction: column;
}

.Tab-pane {
  min-height: 300px;
}

.Input-field {
  border-radius: 100px;
  height: 30px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
  text-align: left;
  padding: 20px;
  padding-left: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0;
  margin-bottom: 20px;
}

.select-field {
  position: relative;
  text-align: left;
  padding-left: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 100px;
  height: 30px;
  background-color: rgba(230, 230, 230, 1);
  color: black;
}

.user-table {
  margin-top: 13vh;
  margin-bottom: 10vh;
}

.table td,
.table th {
  padding: 0.4rem;
  border-top: none;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 190, 163, 0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table th {
  background-color: rgba(0, 190, 163, 0.1);
}
